.symptom-box{
  display: flex;
  background-color: $shadow-color;
  padding: 2%;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;

  div {
    max-width: 50%;
    margin: 2%;
  }

  img {
    max-width: 80%;

  }

}

.symptom-box-search {
  display: grid;
  justify-items: center;}

.symptom-card {
  width: 200px;
  display: grid;
  align-items: center;
  box-shadow: $box-shadow;
  border: 0.5px lightgray solid;
  padding: 5%;
  transition: transform 1s ease;
  border-radius: 7px;

  div:first-child {
    border-bottom: 1px solid lightgray;
  }
}

.activated {
  box-shadow: $box-shadow-hover;
  color: hotpink;
}