body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Questrial', sans-serif;
    margin-top: 90px;
    background-color: #EFF7E2;
}

a:link {
    text-decoration: none;
    color: #3A3B3C;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

.navbar-custom {
    padding: 10px;
    background-color: #EFF7E2 ;

}

.navbar-middle {
    margin: 5px;
}

div.background {
    background: url(/src/components/static/redhouse.jpeg) center;
    width: 100%;
    padding-top: 320px;
    padding-right: 300px;
    padding-left: 300px;
}

div.transbox {
    background-color: #ffffff;
    opacity: 0.5;
}

div.transbox p {
    margin: 5%;
    color: #000000;
    padding: 50px;
}

.card-home-custom {
    width: 250px;
    height: 250px;
    align-items: center;
    opacity: 0.6;
    margin: 50px;
    margin-top: 50px;
}

.background img {
    width: 80%;
    height: 80%;
}

.card-names-custom {
    width: 250px;
    height: 320px;
    align-items: center;
    margin: 20px;
}

.card-names-custom img {
    height: 200px;
    object-fit: scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.card-footer {
    width: 250px;
}

div.description-select {
    margin: 0 -80px;
    height: 300px;
    margin-top: 170px;
    margin-bottom: 50px;
    position: relative;
}

div.herbs-by-name-description-box {
    background-color: #dde5b6;
    border-radius: 50% / 100%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float: right;
}

div.herbs-by-name-description-box p {
    padding-top: 80px;
    padding-left: 130px;
    padding-right: 50px;
}

.form-select {
    width: 30%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 90px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(248,249,250);
    overflow-x: hidden;
    padding-top: 160px;
}

.sidenav img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 80%;
}
.HerbNameNames {
    color: #3A3B3C;
    text-align: center;
}