/* overall changes */
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Questrial', sans-serif;
    margin-right: 70px;
    margin-top: 90px;
    background-color: rgba(248,249,250);
}

p {
    text-align: justify;
    color: #466803;
}

a:link, .nav-link {
    text-decoration: none;
    color: #466803 !important;
}

a:link:hover, .nav-link:hover {
    text-decoration: none;
    color: #56682c !important;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(248,249,250);
    overflow-x: hidden;
    padding-top: 200px;
    padding-left: 30px;
    padding-right: 30px;
}

.wider-grid {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 400px;
}

/* Navigation */

.navbar-custom .navbar-brand {
    padding: 10px;
    color: #466803 !important;
    font-size: 25px;
}

.navbar-custom {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid;
}

/* Home */

div.background {
    background: url(/src/components/static/redhouse.jpeg) center;
    width: 100%;
    padding-top: 320px;
    padding-right: 300px;
    padding-left: 300px;
}

div.transbox {
    background-color: #ffffff;
    opacity: 0.5;
}

div.transbox p {
    margin: 5%;
    color: #000000;
    padding: 50px;
}

.card-home-custom {
    width: 250px;
    height: 250px;
    align-items: center;
    opacity: 0.6;
    margin: 50px;
    margin-top: 50px;
}

.background img {
    width: 80%;
    height: 80%;
}

/* HerbsByName */

.card-names-custom {
    width: 200px;
    height: 270px;
    align-items: center;
    margin: 20px;
}

.card-names-custom img {
    height: 150px;
    object-fit: scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-footer {
    width: 200px;
}

.form-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 40%;
}

/* HerbName */

.HerbNameNames p {
    text-align: center;
}
.HerbNameNames img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 80%;
}

.medical-uses-box {
    width: 100%;
    float: right;
    padding: 100px;
    border-radius: 90px;
    background-color: #dee7b1 ;
    text-align: center;
    color: #466803;
    margin-bottom: 50px;
}

.vegetation {
    color: #466803;
    text-align: justify;
}

.vegetation img {
    width: 130%;
    margin-right: 30px;
}

