/* overall changes */
body {
    font-family: 'Questrial', sans-serif;
    margin-right: 70px;
    background-color: #ffffff;
    text-align: justify;
    color: #466803;
}

a:link, .nav-link, link {
    text-decoration: none;
    color: #466803 !important;
}

a:link:hover, .nav-link:hover, link:hover {
    text-decoration: none;
    color: #0F3325 !important;
}

.btn {
    background-color: #ffffff;
    border-color: #466803;
    color: #0F3325;
}

.btn:hover, .button:hover {
    background-color: #466803;
    color: #ffffff !important;
    border-color: #466803;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 200px 30px 30px 30px;
}

.sidenav img {
    margin-bottom: 30px;
    max-height: 350px;
}

.wider-grid {
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 400px;
}

/* Navigation */

.navbar-custom .navbar-brand {
    padding: 10px;
    font-size: 25px;
    color: #466803;
}

.navbar-custom {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid;
    background-color: #ffffff !important;
}

/* HerbsByName */

.card-names-custom {
    width: 200px;
    height: 270px;
    margin: 20px;
}

.card-names-custom img {
    height: 150px;
    object-fit: scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-footer {
    width: 200px;
    background-color: #d4e09b;
}

.searching {
    padding: 20px;
}

.searching-child {
    float: left;
}

/* HerbName */

.medical-uses-box {
    float: right;
    border-radius: 90px;
    background-color: #d4e09b ;
    margin-bottom: 50px;
    padding: 50px 100px;
}

.vegetation img {
    width: 130%;
    margin-right: 30px;
}

/* HerbsBySymptom */

.symptom-card {
    width: 260px;
    padding: 0;
}

.symptom-header {
    background-color: #d4e09b;
}

.activated {
    /*position: absolute;
    top: 100px;*/
    border-color: deeppink;
    border: solid 2px;
    color: deeppink;
}

/* Workshops */

.workshop-card {
    display: flex;
    align-items: center;
    margin: 20px;
}

.workshop-card img {
    height: 280px;
}

.add-workshop {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

/* Contact */

.background-green {
    background-color: #d4e09b ;
    border-radius: 90px;
    padding: 50px;
    color: #0F3325;
    display: flex;
    justify-content: center;
    align-items: center;
}

